// OLEH

.products {
  padding-top: 120px;
}

.section__subtitle,
.section__title {
  display: block;
  text-align: center;
  margin-top: 60px;
}

.section__subtitle {
  font-size: 18px;
  line-height: 38px;
  color: #FFA5BA;
}

.section__title {
  font-size: 36px;
  line-height: 52px;
  color: #D41442;
}

.productcts__list {
  display: flex;
}

.products__item {
  position: relative;
  background-color: #FFB8C9;
  border-radius: 50px;
}

.icecream-pic {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
