/********** MOBILE **********/
%main-font-400 {
  font-family: 'DM Sans';
  font-size: 13px;
  font-weight: 400;
}

%main-font-500 {
  font-family: 'DM Sans';
  font-size: 13px;
  font-weight: 500;
}

%main-font-700 {
  font-family: 'DM Sans';
  font-size: 13px;
  font-weight: 700;
}

/********** TABLET **********/
%main-font-400-md {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 400;
}

%main-font-500-md {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
}

%main-font-700-md {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 700;
}

/********** DESKTOP **********/
%main-font-400-lg {
  font-family: 'DM Sans';
  font-weight: 400;
}

%main-font-500-lg {
  font-family: 'DM Sans';
  font-weight: 500;
}

%main-font-700-lg {
  font-family: 'DM Sans';
  font-weight: 700;
}
